body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-135deg, #ee874c 33%, #8babf1 45%, #b49d9d 66%);
}

@font-face {
    font-family: PixelFont;
    src: url();
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#canvas {
    width: 450px;
    height: 550px;
    background-image: url("https://cdn.theatlantic.com/thumbor/EmW-E0FwUa0MhOoGk0BXYyBiBm0=/0x0:1718x1718/1718x1718/media/files/est/space-calculator/background6.jpg");
}

.menu {
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}
.score, .hp, .bullets {
    color: white;
    font-size: 30px;
    font-family: "PixelFont";
}